body {
    display: flex;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    padding: 10px;
    justify-content: space-between;
} 

.left-header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.left-square {
    height: 50px;
    width: 50px;
    background-color: #C4C4C4;
}

.left-rectangle {
    height: 50px;
    width: 150px;
    background-color: #C4C4C4;
}

.centre-sidebar {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.centre-rectangle {
    width: 100%;
    height: 50px;
    background-color: #C4C4C4;
    margin-top: 20px;
}

.left-footer {
    width: 100%;
    height: 200px;
}

.footer-rectangle {
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 100vh;
    background-color: #F5F5FB;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.navbar-rectangle{
    background-color: #C4C4C4;
    height: 50px;
    width: 60%;
    border-radius: 5px;
}

.navbar-square {
    height: 50px;
    width: 50px;
    background-color: #C4C4C4;
}

.centre-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.header-rectangle {
    background-color: #C4C4C4;
    width: 30%;
    height: 50px;
}

.centre-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-rect {
    height: 50px;
    width: 100px;
    background-color: #C4C4C4;
    margin-left: 20px;
}

.centre-rect {
    height: 40%;
    width: 100%;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
    margin-top: 15px;

}

.footer-rect {
    background-color: #C4C4C4;
    width: 48%;
    height: 100%;
    border-radius: 5px;
}

.right-sidebar {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.first-wrap {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rside-ball {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #C4C4C4;
}

.rside-rect {
    background-color: #C4C4C4;
    height: 50px;
    width: 70%;
}

.h-rect {
    background-color: #C4C4C4;
    align-self: flex-start;    
    height: 50px;
    width: 60%;
    margin: 20px 20px 20px 0;
}

.second-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    width: 100%;
    margin: 20px;
}

.s-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 100%;
}

.side-square {
    width: 50px;
    height: 50px;
    background-color: #C4C4C4;
}

.side-rectangle {
    height: 50px;
    width: 250px;
    background-color: #C4C4C4;
}

.r-footer-rect {
    background-color: #C4C4C4;
    height: 150px;
    width: 80%;
    border-radius: 5px;
}